.character-container {
  background: no-repeat center url("../../assets/images/portal.png");
  background-size: contain;
  width: 300px;
  height: 300px;

  cursor: pointer;
  transition: .25s linear;
  margin: 25px 0;
  position: relative;
}

.character-container:hover {
  transform: scale(101%) translateY(-5px);
  transition: .25s linear;
}

.character-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.character-image {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  user-select: none;
  transition: .25s linear;
}

.character-image:hover {
  box-shadow: 0 0 50px 10px rgba(191, 214, 65, 1);
  transition: 0.25s linear;
}

.character-info {
  color: #ffffff;

  margin-bottom: 35px;
  text-align: center;
}
