.notFounded {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notFoundedImage {
  width: 100vw;
  height: 60vh;
  background: no-repeat center url("../../../assets/images/notfounded.png");
}

.notFoundedText {
  color: #e1e1e1;
  font-size: 72px;
}

.notFoundedSubTitle {
  color: #b7b7b7;
  font-size: 24px;
}
