.filters {
    display: flex;
}

.filter-select {
    width: 100%;
    max-width: 400px;
    height: 40px;
    padding: 5px 20px;
    margin: 15px 25px;

    border-radius: 8px;
    border: 2px solid #e1e1e1;

    color: #e1e1e1;
    background: none;
    cursor: pointer;
    transition: .15s ease-in-out;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.filter-select:active, .filter-select:focus {
    outline: none;
    box-shadow: 0 0 0 5px rgba(176,250,145, .7);
    transition: .15s ease-in-out;
}
