.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-scroll {
    overflow: hidden;
}
